.tile {
  height: 25rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: -5px 3px 8px #c1c5d2;
  background-color: map-get($colors, brand-grey);
  margin: 2rem 0;

  &__media {
    height: 16rem;
    width: 25rem;
    overflow: hidden;
    border-radius: 0.5rem;

    img {
      height: 100%;
      width: 100%;
      object-fit: scale-down;
    }
  }

  &__details {
    width: 25rem;
    margin-top: 1rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  @media screen and (min-width: 650px) {
    margin: unset;
  }

  @media screen and (min-width: 800px) {
    min-width: 22rem;

    &__media,
    &__details {
      width: 100%;
    }
  }

  @media screen and (min-width: 1024px) {
    min-width: 21rem;
  }

  @media screen and (min-width: 1200px) {
    min-width: 14rem;
  }
}
